docs/API Documentation
docs/Event_Details_JSON.4.json
docs/Functions to use
docs/socat script
docs/Station_Details_JSON.6.json
docs/Stationlist_JSON.3.json
docs/Stationlist_JSON.6.json
docs/XMLTV_Format.xml
stations.json
xmltv.xml